<div class="page-width grid"
    style="background: linear-gradient(116.76deg, #EEBEB7 0%, #D0A19E 114.59%); padding-top:10%; border-radius: 40px 40px 0 0;">
    <div class="grid__item small--one-whole medium-up--one-half" style="position: sticky; padding: 30px!important">
        <img src="https://cdn.shopify.com/s/files/1/0670/8769/6176/files/helena-lopes-e3OUQGT9bWU-unsplash.jpg?v=1670268870"
            alt="">
    </div>
    <div class="grid__item small--one-whole medium-up--one-half">
        <h4>4 Jahreszeiten</h4>
        <h3>Finde heraus welche Duftkombination zu dir passt!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
            odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a href="#" class="btn">Zum Test</a>
        <hr>
        <h3>Finde heraus welche Duftkombination zu dir passt!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
            odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a href="#" class="btn">Zum Test</a>
        <hr>
        <h3>Finde heraus welche Duftkombination zu dir passt!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
            odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a href="#" class="btn">Zum Test</a>
        <hr>
        <h3>Finde heraus welche Duftkombination zu dir passt!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet
            odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        <a href="#" class="btn">Zum Test</a>
    </div>
</div>

{%- schema -%}
{
"name": "Sticky Advantages",
"presets":[
{
"name": "Sticky Advantages",
"category": "picture"
}
]
}
{%- endschema -%}