<div class="page-width grid">
    <div class="grid__item small--one-whole medium-up--one-half" style="position: sticky; padding: 30px!important">
        <img src="https://cdn.shopify.com/s/files/1/0670/8769/6176/files/helena-lopes-e3OUQGT9bWU-unsplash.jpg?v=1670268870"
            alt="">
    </div>
    <div class="grid__item small--one-whole medium-up--one-half"></div>
</div>

{%- schema -%}
{
"name": "Sticky Advantages",
"presets":[
{
"name": "Sticky Advantages",
"category": "picture"
}
]
}
{%- endschema -%}