<section id="hero-startseite" class="grid"
    style="background: url('{{section.settings.background_image | img_url: scale:2}}') no-repeat">
    <div class="grid__item small--one-whole medium-up--one-half">
    </div>
    <div class="grid__item small--hide medium-up--one-half">
    </div>
</section>
{%- schema -%}
{
"name": "Startscreen Top Hero",
"settings":[
{
"type": "image_picker",
"id": "background_image",
"label": "Hintergrund Bild"
},
{
"type": "richtext",
"id": "headline",
"label": "Überschrift"
},
{
"type": "richtext",
"id": "description",
"label": "Text"
},
{
"type": "text",
"id": "link_text",
"label": "Link Text"
},
{
"type": "text",
"id": "link_destination",
"label": "Link"
}
],
"presets": [
{
"name": "Slideshow"
}
]
}
{%- endschema -%}