<section class="page-width">

</section>
{% schema %}
{
"name": "Link Grid",
"blocks": [{
"type": "slide",
"name": "Link Block",
"settings":[
{
"type": "text",
"id": "subtitle",
"label": "Unterüberschrift"
},
{
"type": "color",
"id": "gradient-first",
"label": "Erste Farbe des Verlaufs"
},
{
"type": "color",
"id": "gradient-second",
"label": "Zweite Farbe des Verlaufs"
},
{
"type": "checkbox",
"id": "fullscreen",
"label": "Fullscreen?"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Hintergrundbild?"
}
]
}],
"presets":[{
    "name": "Link Grid",
    "category": "picture"
}]
}
{% endschema %}