<div class="page-width">
    <div id="testimonial-slider">
        {%- for block in section.blocks -%}
        <div class="testimonial">
            <video src="{{block.settings.video}}"></video>
        </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
"name": "Video Testimonials",
"blocks":[
{
"type": "slide",
"name": "Video Testimonial",
"settings":[
{
"type": "video_url",
"id": "video",
"label": "Video einfügen",
"accept": [ "youtube", "vimeo"]
}
]
}
],
"presets":[
{
"name": "Video Testimonial",
"category": "video"
}
]
}
{% endschema %}