<div class="page-width">
    <div id="testimonial-slider">
        {%- for block in section.blocks -%}

        {%- endfor -%}
    </div>
</div>
{% schema %}
{
"name": "Video Testimonials",
"blocks":[
{
"type": "slide",
"name": "Video Testimonial",
"settings":[
{
"type": "video",
"id": "video",
"label": "Video einfügen:"
}
]
}
]
}
{% endschema %}