<div class="page-width">
    <div id="testimonial-slider">
        {%- for block in section.blocks -%}
        <div class="testimonial">
            {{ block.settings.video }}
        </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
"name": "Video Testimonials",
"blocks":[
{
"type": "slide",
"name": "Video Testimonial",
"settings":[
{
"type": "video",
"id": "video",
"label": "Video einfügen:"
}
]
}
],
"presets":[
{
"name": "Video Testimonial",
"category": "video"
}
]
}
{% endschema %}