<div class="page-width">
    <div id="testimonial-slider">
        {%- for block in section.blocks -%}
        <div class="testimonial">
            <iframe width="560" height="315" src="{{block.settings.video}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        {%- endfor -%}
    </div>
</div>

<style>

</style>
{% schema %}
{
"name": "Video Testimonials",
"blocks":[
{
"type": "slide",
"name": "Video Testimonial",
"settings":[
{
"type": "text",
"id": "video",
"label": "Video einfügen"
}
]
}
],
"presets":[
{
"name": "Video Testimonial",
"category": "video"
}
]
}
{% endschema %}