<div class="page-width feature-row" style="min-height: 100vh; padding-top: 15vh">
    <div class="feature-row__item small--one-whole medium-up--one-half">
        <h1>Finde deinen perfekten Duft</h1>
        <p>Finden Sie heraus, welches Parfüm perfekt zu Ihrer Persönlichkeit passt! Nehmen Sie unseren kostenlosen
            Persönlichkeitstest jetzt und erhalten Sie personalisierte Empfehlungen für das perfekte Parfüm.
            Starten Sie jetzt den Test und finden Sie heraus, welches Parfüm perfekt zu Ihnen
            passt!</p>
    </div>
    <div class="feature-row__item small--one-whole medium-up--one-half flex-item flex-column flex-center">
        <form id="personality-form" class="br-image">
            <div id="question-index-tracker">
                <div id="question-index-current"></div>
            </div>
            <div id="page1" class="form-page" style="display: block;">
                <h2 style="">Q1</h2>
                <h3>What is your favorite color?</h3>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
                <button type="button" onclick="showPrevPage()">Previous</button>
                <button type="button" onclick="showNextPage()">Next</button>
            </div>
            <div id="page2" class="form-page" style="display: none;">
                <h2 style="">Q2</h2>
                <h3>What is your favorite color?</h3>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
                <button type="button" onclick="showPrevPage()">Previous</button>
                <button type="button" onclick="showNextPage()">Next</button>
            </div>
            <div id="page3" class="form-page" style="display: none;">
                <h2 style="">Q3</h2>
                <h3>What is your favorite color?</h3>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
                <button type="button" onclick="showPrevPage()">Previous</button>
                <button type="button" type="submit">Next</button>
            </div>
        </form>
        <div class="feature-row">
            <a class="btn__back feature-row__item" onclick="prevPage()">Zurück</a><a class="btn__next feature-row__item"
                onclick="nextPage()">Weiter</a>
        </div>
    </div>
</div>
<script>
    function showNextPage() {
        var currentPage = document.querySelector(".form-page:not([style*='display: none'])");
        var nextPage = currentPage.nextElementSibling;
        currentPage.style.display = "none";
        nextPage.style.display = "block";
    }

    function showPrevPage() {
        var currentPage = document.querySelector(".form-page:not([style*='display: none'])");
        var prevPage = currentPage.previousElementSibling;
        currentPage.style.display = "none";
        prevPage.style.display = "block";
    }
    }
</script>
<style>
    body {
        background: linear-gradient(111.31deg, #76E4BD 22.92%, #72CCB6 88.76%);
    }
</style>