<div class="page-width">
    <h1>Personality Test</h1>

    <p>Answer the following questions to find out your personality type:</p>

    <form>
        <p>What is your favorite color?</p>
        <input type="radio" name="color" value="blue"> Blue<br>
        <input type="radio" name="color" value="green"> Green<br>
        <input type="radio" name="color" value="red"> Red<br>
        <input type="radio" name="color" value="yellow"> Yellow<br>
        <input type="radio" name="color" value="purple"> Purple<br>

        <p>What is your favorite food?</p>
        <input type="radio" name="food" value="pizza"> Pizza<br>
        <input type="radio" name="food" value="sushi"> Sushi<br>
        <input type="radio" name="food" value="burgers"> Burgers<br>
        <input type="radio" name="food" value="tacos"> Tacos<br>
        <input type="radio" name="food" value="salad"> Salad<br>

        <p>What is your favorite hobby?</p>
        <input type="radio" name="hobby" value="reading"> Reading<br>
        <input type="radio" name="hobby" value="sports"> Sports<br>
        <input type="radio" name="hobby" value="music"> Music<br>
        <input type="radio" name="hobby" value="art"> Art<br>
        <input type="radio" name="hobby" value="dancing"> Dancing<br>

        <button type="submit">Submit</button>
    </form>

</div>