<div class="page-width feature-row" style="min-height: 100vh; padding-top: 15vh">
    <div class="feature-row__item small--one-whole medium-up--one-half" id="personality-test-headline">
        <h1>Finde deinen perfekten Duft</h1>
        <p>Finden Sie heraus, welches Parfüm perfekt zu Ihrer Persönlichkeit passt! Nehmen Sie unseren kostenlosen
            Persönlichkeitstest jetzt und erhalten Sie personalisierte Empfehlungen für das perfekte Parfüm.
            Starten Sie jetzt den Test und finden Sie heraus, welches Parfüm perfekt zu Ihnen
            passt!</p>
    </div>
    <div class="feature-row__item small--one-whole medium-up--one-half flex-item flex-column flex-center">
        <form id="personality-form" class="br-image form">
            <div id="question-index-tracker">
                <div id="question-index-current"></div>
            </div>
            <div class="form-page" style="display: block;" id="first-form-page" data-index="10%">
                <h2>Q1</h2>
                <h4> Wie reagieren Sie in der Regel, wenn Sie mit einem schwierigen Problem konfrontiert werden?
                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="20%">
                <h2>Q2</h2>
                <h4> Wie oft suchen Sie neue Erfahrungen?
                </h4>
                <input type="radio" name="radio1" id="free" value="free2"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic3" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium4"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="30%">
                <h2>Q3</h2>
                <h4> Wo verbringen Sie Ihre Freizeit am liebsten?
                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="40%">
                <h2>Q4</h2>
                <h4> Wie sieht ihr typischer Feierabend aus?
                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="50%">
                <h2>Q5</h2>
                <h4> Wie oft vertrauen Sie Ihrem Instinkt?

                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="60%">
                <h2>Q6</h2>
                <h4> Wie bewältigen Sie in der Regel Stress?

                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="70%">
                <h2>Q7</h2>
                <h4> Wie drücken Sie in der Regel Ihre Emotionen aus?

                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="80%">
                <h2>Q8</h2>
                <h4> Wie gehen Sie in der Regel neuen Situationen entgegen?

                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" data-index="90%">
                <h2>Q9</h2>
                <h4> Wie verhalten Sie sich in der Regel gegenüber anderen?

                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
            <div class="form-page" style="display: none;" id="last-form-page" data-index="100%">
                <h2>Q10</h2>
                <h4> Wie treffen Sie in der Regel Entscheidungen?
                </h4>
                <input type="radio" name="radio1" id="free" value="free"><label class="free-label four col"
                    for="free">Free</label>
                <input type="radio" name="radio1" id="basic" value="basic" checked><label class="basic-label four col"
                    for="basic">Basic</label>
                <input type="radio" name="radio1" id="premium" value="premium"><label class="premium-label four col"
                    for="premium">Premium</label>
            </div>
        </form>



        <div class="feature-row">
            <a class="btn__back feature-row__item" onclick="showPrevPage()">Zurück</a><a
                class="btn__next feature-row__item" onclick="showNextPage()">Weiter</a>
        </div>
    </div>
</div>
<script>
    function showNextPage() {
        let currentPage = document.querySelector(".form-page:not([style*='display: none'])");
        let nextPage = currentPage.nextElementSibling;

        if (currentPage != document.getElementById('last-form-page')) {
            currentPage.style.display = "none";
            nextPage.style.display = "block";
        }
        else {
            document.getElementsByClassName(".btn__next").addClass("disabled")
        }

        currentPage = document.querySelector(".form-page:not([style*='display: none'])");

        document.getElementById('question-index-current').style.width = currentPage.dataset.index
    }

    function showPrevPage() {
        let currentPage = document.querySelector(".form-page:not([style*='display: none'])");
        let prevPage = currentPage.previousElementSibling;
        if (currentPage != document.getElementById('first-form-page')) {
            currentPage.style.display = "none";
            prevPage.style.display = "block";
        }
        else {
            document.getElementsByClassName(".btn__back").addClass("disabled")
        }

        currentPage = document.querySelector(".form-page:not([style*='display: none'])");

        document.getElementById('question-index-current').style.width = currentPage.dataset.index
    }
</script>
<style>
    body {
        background: linear-gradient(111.31deg, #76E4BD 22.92%, #72CCB6 88.76%);
    }

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        color: #333;
        background-color: #eee;
    }

    .form input {
        display: none;
    }

    .form label {
        position: relative;
        background-color: transparent;
        border: 2px solid rgba(0, 0, 0, 0.08);
        color: #000;
        font-size: 20px;
        text-align: center;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px !important;
        cursor: pointer;
        border: 3px solid transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form input:checked+label {
        background: rgba(115, 207, 184, 0.2);
        border: 2px solid rgba(67, 190, 80, 0.44);
        border-radius: 10px;
    }
</style>