<div class="page-width grid" style="min-height: 100vh">
    <div class="grid__item small--one-whole medium-up--one-half flex-item flex-center">
        <h1>Finde deinen perfekten Duft</h1>
        <p>Finden Sie heraus, welches Parfüm perfekt zu Ihrer Persönlichkeit passt! Nehmen Sie unseren kostenlosen
            Persönlichkeitstest jetzt und erhalten Sie personalisierte Empfehlungen für das perfekte Parfüm.
            Starten Sie jetzt den Test und finden Sie heraus, welches Parfüm perfekt zu Ihnen
            passt!</p>
    </div>
    <div class="grid__item small--one-whole medium-up--one-half flex-item flex-center">
        <form>
            <div class="form-page">
                <p>What is your favorite color?</p>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
            </div>
            <div class="form-page">
                <p>What is your favorite color?</p>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
            </div>
            <div class="form-page">
                <p>What is your favorite color?</p>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>


</div>