<div class="page-width">
    <h1>Personality Test</h1>

    <p>Answer the following questions to find out your personality type:</p>

    <form>
        <div class="form-page">
            <p>What is your favorite color?</p>
            <input type="radio" name="color" value="blue"> Blue<br>
            <input type="radio" name="color" value="green"> Green<br>
            <input type="radio" name="color" value="red"> Red<br>
            <input type="radio" name="color" value="yellow"> Yellow<br>
            <input type="radio" name="color" value="purple"> Purple<br>
        </div>
        <div class="form-page">
            <p>What is your favorite color?</p>
            <input type="radio" name="color" value="blue"> Blue<br>
            <input type="radio" name="color" value="green"> Green<br>
            <input type="radio" name="color" value="red"> Red<br>
            <input type="radio" name="color" value="yellow"> Yellow<br>
            <input type="radio" name="color" value="purple"> Purple<br>
        </div>
        <div class="form-page">
            <p>What is your favorite color?</p>
            <input type="radio" name="color" value="blue"> Blue<br>
            <input type="radio" name="color" value="green"> Green<br>
            <input type="radio" name="color" value="red"> Red<br>
            <input type="radio" name="color" value="yellow"> Yellow<br>
            <input type="radio" name="color" value="purple"> Purple<br>
        </div>

        <button type="submit">Submit</button>
    </form>

</div>