<div class="page-width feature-row" style="min-height: 100vh; padding-top: 15vh">
    <div class="feature-row__item small--one-whole medium-up--one-half">
        <h1>Finde deinen perfekten Duft</h1>
        <p>Finden Sie heraus, welches Parfüm perfekt zu Ihrer Persönlichkeit passt! Nehmen Sie unseren kostenlosen
            Persönlichkeitstest jetzt und erhalten Sie personalisierte Empfehlungen für das perfekte Parfüm.
            Starten Sie jetzt den Test und finden Sie heraus, welches Parfüm perfekt zu Ihnen
            passt!</p>
    </div>
    <div class="feature-row__item small--one-whole medium-up--one-half flex-item flex-column flex-center">
        <form id="personality-form" class="br-image">
            <div class="form-page">
                <h2 style="">Q1</h2>
                <h3>What is your favorite color?</h3>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
            </div>
            <!--<div class="form-page">
                <h3>What is your favorite color?</h3>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
            </div>
            <div class="form-page">
                <h3>What is your favorite color?</h3>
                <input type="radio" name="color" value="blue"> Blue<br>
                <input type="radio" name="color" value="green"> Green<br>
                <input type="radio" name="color" value="red"> Red<br>
                <input type="radio" name="color" value="yellow"> Yellow<br>
                <input type="radio" name="color" value="purple"> Purple<br>
            </div>-->
        </form>
        <div class="feature-row">
            <a class="btn__back feature-row__item" style="margin: 15px 5px;" href="">Zurück</a><a
                class="btn__next feature-row__item" style="margin: 15px 5px;" href="">Weiter</a>
        </div>
    </div>
</div>

<style>
    body {
        background: linear-gradient(111.31deg, #76E4BD 22.92%, #72CCB6 88.76%);
    }
</style>